@charset "UTF-8";
.content
{
	height: 350px;
	width: 1920px;
	font-family: '幼圆';
	float: left;
	color: #727272;
}
.content a
{
	text-decoration: none;
	color: #727272;
}
.content-maintext
{
	width: 1920px;
	height: 162px;
	font-size: 50px;
	float: left;
	text-align: center;
	line-height: 162px;
}
.content-others
{
	width: 1920px;
	height: 78px;
	float: left;
	font-size: 30px; 
	text-align: center;
	line-height: 78px;
}
.content-others-space1
{
	width: 450px;
	height: 78px;
	float: left;
}
.content-others-weixin
{
	height: 78px;
	/*width: 160px;*/
	width: 480px;
	float: left;
}
.content-others-space2
{
	height: 78px;
	width: 120px;
	float: left;
}
.content-others-qq
{
	height: 78px;
	/*width: 150px;*/
	width: 480px;
	float: left;
}
.content-others-space3
{
	width: 160px;
	height: 78px;
	float: left;
}
.content-others-email
{
	height: 78px;
	/*width: 150px;*/
	width: 480px;
	float: left;
}
.content-others-phone
{
	height: 78px;
	/*width: 160px;*/
	width: 480px;
	float: left;
}