@charset "UTF-8";
.about-us{
	position: relative;
	height: 1143px;
	width: 100%;
}
.about-us-font-1{
  font-size: 50px;
  color: #333333;
  text-align: center;
  text-align: center;
}
.about-us-font-2{
  font-size: 30px;
  color: #333333;
  text-align: center;
  text-align: center;
}
.space-1{
	position: relative;
	height: 50px;
}
.banner-1{
	position: relative;
	width: 1235px;
	margin: 0 auto;
}
.banner-1.banner{
	position: relative;
}
.black-1{
	width: 570px;
	height: 445px;
	position: relative;
	float: right;
	background-color: #FFFFFF;
}
.shadow{
	box-shadow: 0 0 3px #000;
}
.space-2{
	position: relative;
	height: 30px;
}
.banner-2{
	position: relative;
	width: 1235px;
	margin: 0 auto;
}
.banner-2.banner{
	position: relative;	
}
.black-2{
	width: 570px;
	height: 445px;
	position: relative;
	background-color: #FFFFFF;
}
.teacher{
	position: relative;
	height: 855px;
}
.teacher-content{
	width: 750px;
	height: 346px;
	margin: 0 auto;
}
.teacher-font{
	position: relative;
	height: 346px;
	width: 342px;
	display:table-cell;
     text-align:center;
     vertical-align:middle;
}
.teacher-font-1{
	font-size: 50px;
	color: #333333;
	text-align: center;
	text-align: center;
}
.teacher-font-2{
	font-size: 58px;
	color: #0067cc;
	text-align: center;
	text-align: center;
}
.teacher-photo{
	position: relative;
	height: 346px;
	width: 342px;
	background-color: #727272;
}
.black-3{
	position: relative;
	margin: 0 auto;
	width: 900px;
	height: 399px;
	position: relative;
	background-color: #FFFFFF;